<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yq.cn.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.yq.cn.dao.entity.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="my_name" property="myName" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="pass" property="pass" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="user_img" property="userImg" jdbcType="VARCHAR" />
    <result column="born_day" property="bornDay" jdbcType="DATE" />
    <collection property="products" ofType="com.yq.cn.dao.entity.Product">
			<id property="id" column="pid" />
			<result property="name" column="name" />
			<result property="price" column="price" />
			<result property="freight" column="freight" />
		</collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, my_name, login_name, pass, email, sex, user_img, born_day
  </sql>
  <insert id="saveProductToMine" parameterType="map" >
    insert into tbl_product_user (product_id,user_id)
    values (#{productId}, #{userId})
  </insert>
  <delete id="deleteMyProducts" parameterType="long" >
    DELETE from tbl_product_user 
    where user_id=#{id}
  </delete>
  <delete id="deleteMyOneProduct" parameterType="map" >
    DELETE from tbl_product_user 
    where product_id=#{productId} and user_id=#{userId}
  </delete>
  <select id="login" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from tbl_user
    where login_name = #{loginName} and pass = #{pass}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getMyProducts" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select p.id pid,name,price,freight,u.id id,my_name,login_name,pass,email,sex,user_img,born_day
	from tbl_product p,tbl_user u,tbl_product_user pu 
	where pu.product_id=p.id and pu.user_id=u.id and u.id = #{id}
    <!-- select 
    <include refid="Base_Column_List" />
    from tbl_user
    where id = #{id,jdbcType=BIGINT} -->
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yq.cn.dao.entity.User" >
    insert into tbl_user (id, my_name, login_name, 
      pass, email, sex, user_img, 
      born_day)
    values (#{id,jdbcType=BIGINT}, #{myName,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{pass,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{userImg,jdbcType=VARCHAR}, 
      #{bornDay,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.yq.cn.dao.entity.User" >
    insert into tbl_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="myName != null" >
        my_name,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="pass != null" >
        pass,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="userImg != null" >
        user_img,
      </if>
      <if test="bornDay != null" >
        born_day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="myName != null" >
        #{myName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="pass != null" >
        #{pass,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="userImg != null" >
        #{userImg,jdbcType=VARCHAR},
      </if>
      <if test="bornDay != null" >
        #{bornDay,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yq.cn.dao.entity.User" >
    update tbl_user
    <set >
      <if test="myName != null" >
        my_name = #{myName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="pass != null" >
        pass = #{pass,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="userImg != null" >
        user_img = #{userImg,jdbcType=VARCHAR},
      </if>
      <if test="bornDay != null" >
        born_day = #{bornDay,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yq.cn.dao.entity.User" >
    update tbl_user
    set my_name = #{myName,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      pass = #{pass,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      user_img = #{userImg,jdbcType=VARCHAR},
      born_day = #{bornDay,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>